.container {
  position: relative;
  background-color: #555;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.keys {
  position: relative;
  width: 80%;
  height: 50%;
}

.whiteKeys {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.white {
  border-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 22em 2.5em 1em 2.5em;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.blackKeys {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.black {
  border-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 77px;
  padding: 20px 0px 0px 0px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.skipKey {
  width: 77px;
}